$custom-file-color: #000;
$custom-file-button-color: #000;
/*$custom-file-button-bg: transparent;*/
$input-bg: #ADAFAE;

$sizes: (
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%
);