@import "_custom";
@import "~bootswatch/dist/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";

.btn-xs {
  @include button-size(0.1rem, 0.25rem, 0.75rem, 1.5, 0.2rem);
}
.btn-group-xs > .btn { @extend .btn-xs; }

.side-bar {
  .card-header {
    padding: 0.25rem 0.5rem;
    .card-title {
      border: 1px solid $primary;
      color: $primary;
      @include button-size(0.5rem, 0.75rem, 1.5rem, 1.2, 0.25rem);
      @include transition($btn-transition);
      @include hover() {
        background-color: $primary;
        color: white;
      }
    }
  }
  .card-body {
    margin-right: calc(0.5rem + 1px);
    height: calc(100vh - 166px - 2rem);
    overflow-y: scroll;
  }
}

.top-bar {
  .nav-item {
    margin: 0.25rem 0.25rem 0;
    .nav-link {
      @include button-size(0.5rem, 0.75rem, 1.5rem, 1.2, 0.25rem);
      border: 1px solid $primary;
      color: $primary;
      padding: 0.5rem 1.5rem;
      @include transition($btn-transition);
      @include hover() {
        background-color: $primary;
        color: white;
      }
      &.active {
        background-color: $primary;
        color: white;
      }
    }
  }
}

.tab-body {
  margin: 0.25rem 0.25rem;
  padding: 0.75rem;
  border: 1px solid $primary;
  border-radius: 0.25rem;
  background-color: #282828;
  > .form-row {
    height: calc(100vh - 50px - 4rem);
    overflow-y: scroll;
  }
}

.h-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:last-child {
    margin-bottom: 0px;
  }
}

pre {
  white-space: pre-wrap;
  code {
    code {
      color: $yellow;
    }
    del {
      color: $red;
    }
    ins {
      color: $green;
    }
  }
}